/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Blimone';
  src: local('Blimone'), url(../src/assets/fonts/Blimone-Light.woff);
}
.bg-0-star {
  background: transparent;
}
.bg-1-star {
  background: url('./assets/images/1star_2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-2-star {
  background: url('./assets/images/2star_2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-3-star {
  background: url('./assets/images/3star_2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-4-star {
  background: url('./assets/images/4star_2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-5-star {
  background: url('./assets/images/5star_2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
